/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) {
    #word-cloud {
        max-width: 30%;
        margin-bottom: 2%;
        margin-left: 1%;
    }

    .single-team .bio-paragraph {
        -webkit-transition: 0.3s;
        transition: 0.3s;
        position: absolute;
        bottom: -300px;
        left: 0;
        width: 100%;
        padding: 5px 5px;
        background-color: #AEC33D;
        font-size: small;
    }

    .single-team:hover .bio-paragraph {
        bottom: 0;
    }

    .single-team:hover .team-photo img {
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }

    .single-team {
        background-color: #2A3C13;
    }

    .single-team h4 {
        text-transform: uppercase;
        color: #ffffff;
    }

    .single-team h6 {
        margin-bottom: 20px;
    }
}


/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .mainmenu-area #primary-menu > ul > li > a {
        padding: 30px 12px;
    }
    .header-area {
        padding-top: 80px;
    }
    .price-table,
    .box {
        padding: 30px 15px;
    }
    .price-table.active {
        padding: 50px 15px;
    }
    .single-team {
        margin-bottom: 30px;
        max-width: 60%;
    }
    .side-icon-boxes {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    #word-cloud {
        max-width: 30%;
        margin-bottom: 2%;
        margin-left: 1%;
    }

    .single-team {

    }

    .single-team {
        height: 605px;
    }
}


/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
    body {
        font-size: 13px;
    }
    .header-area {
        padding-top: 120px;
        padding-bottom: 100px;
        height: auto;
    }
    .page-title h2,
    .header-text h2 {
        font-size: 20px;
    }
    .mainmenu-area .navbar-toggle {
        margin-top: 20px;
    }
    .mainmenu-area .navbar-toggle .icon-bar {
        background-color: #ffffff;
    }
    .mainmenu-area #primary-menu {
        background: -webkit-gradient(linear, left top, left bottom, from(#63822A), to(#AEC33D));
    }
    .navbar-nav {
        background: -webkit-gradient(linear, left top, left bottom, from(#63822A), to(#AEC33D));
    }
    .mainmenu-area #primary-menu ul {
        overflow-y: auto;
        max-height: 70vh;
        margin: 0;
    }
    .mainmenu-area #primary-menu > ul > li > a {
        padding: 15px;
        overflow: hidden;
    }
    .box {
        padding: 5px 5px;
    }
    .box .box-icon {
        height: auto;
        width: 70%;
        margin: auto;
    }
    .single-blog,
    .single-team,
    .price-table.active {
        margin-top: 30px;
    }
    .form-double input {
        width: 100%;
    }
    .footer-top {
        margin-bottom: 50px;
    }
    .x-left {
        text-align: left;
    }
    .mainmenu-area .logo {
        margin-left: 15px;
    }
    .single-team {
        min-height: 60%;
    }
    #word-cloud {
        max-width: 80%;
        margin-left: 10%;
    }
    .single-team .bio-paragraph {
        height: 225px;
    }
}

@media only screen and (min-width: 567px) and (max-width: 766px) {
    .single-team {
        height: 450px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 566px) {
    .single-team {
        height: 500px;
    }
}

/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 565px) {
    .single-team {
        height: 500px;
    }
}

@media only screen and (max-width: 479px) {
    .single-team {
        height: 600px;
    }
}

@media only  screen and (min-width: 1177px) {
    .beginning-bg img {
        width: 100%;
        height: 100%;
    } 
    .footer-bg img {
        max-height: 260px;
        width: 100%;
    }
}

@media only  screen and (max-width: 1176px) {
    .beginning-bg img {
        width: auto;
        height: 100%;
    } 
    .footer-bg img {
        width: 100%;
        height: 100%;
        max-height: 260px;
    }
}